#root {
  text-align: center;
}
:root {
  --dark-blue: #1f2666;
  --light-blue: #0266f4;
}
.custom-text-dark-blue {
  color: #1f2666;
}
.custom-bg-dark-blue {
  background-color: #1f2666;
}
.custom-text-light-blue {
  color: #0266f4;
}
.custom-bg-light-blue {
  background-color: #0266f4;
}
.custom-text-white {
  color: #ffffff;
}
